@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: #111111;
}

.backdrop-blur-sm {
  backdrop-filter: blur(8px);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #ffb800;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: #cc9300;
}

/* Firefox Scrollbar Styles */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffb800 rgba(255, 255, 255, 0.1);
}

/* Custom Scrollbar for Menu */
.menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ffb800 rgba(255, 255, 255, 0.1);
}

.menu-scroll::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.menu-scroll::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
}

.menu-scroll::-webkit-scrollbar-thumb {
  background: #ffb800;
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

